<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>I FIND U, I FENDI U</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="../src/dist/css/style.css"/>
    <script src="../src/dist/js/all_home.min.js"></script>
</head>
<body class="page-home">
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content">
        <i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">请在解锁模式下使用竖屏浏览</div>
    </div>
</div>
<!--<div class="preload">-->
    <!--loading-->
    <!--...-->
<!--</div>-->
<div class="wrapper">
    <!-- landing page-->
    <div class="pin pin-1 current" id="pin-landing">
        <div class="bg">
            <span class="top-bg"></span>
            <span class="bottom-bg"></span>
        </div>
        <div class="main-content">
            <div class="logo">
                <img src="/src/dist/images/logo.png" alt=""/>
            </div>
            <div class="slogan">
                <img src="/src/dist/images/tag-tips.png" alt=""/>
            </div>
            <div class="tag-list">
                <ul class="lists">
                    <li class="item" data-title="think">
                        <img src="/src/dist/images/tag_0001_Group-1.png" alt=""/>
                    </li>
                    <li class="item" data-title="yes">
                        <img src="/src/dist/images/tag_0002_Group-2.png" alt=""/>
                    </li>
                    <li class="item" data-title="try">
                        <img src="/src/dist/images/tag_0003_Group-3.png" alt=""/>
                    </li>
                    <li class="item" data-title="love">
                        <img src="/src/dist/images/tag_0004_Group-4.png" alt=""/>
                    </li>
                    <li class="item" data-title="hope">
                        <img src="/src/dist/images/tag_0005_Group-5.png" alt=""/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- result page-->
    <div class="pin pin-2" id="pin-result">
        <div class="bg">
            <ul class="lists">
                <li class="item" data-title="think">
                    <img src="/src/dist/images/tag_0001_Group-1.png" alt=""/>
                </li>
                <li class="item" data-title="yes">
                    <img src="/src/dist/images/tag_0002_Group-2.png" alt=""/>
                </li>
                <li class="item" data-title="try">
                    <img src="/src/dist/images/tag_0003_Group-3.png" alt=""/>
                </li>
                <li class="item" data-title="love">
                    <img src="/src/dist/images/tag_0004_Group-4.png" alt=""/>
                </li>
                <li class="item" data-title="hope">
                    <img src="/src/dist/images/tag_0005_Group-5.png" alt=""/>
                </li>
            </ul>
        </div>
        <div class="main-content">
            <div class="logo">
                <img src="/src/dist/images/logo.png" alt=""/>
            </div>
            <div class="wish-words">
                <span class="t1">Dear</span>
                <span class="nickname">Evelyn</span>
                <div class="t2">
                    <img src="/src/dist/images/text_1.png" alt=""/>
                </div>
            </div>
            <div class="tag-show">
                <img src="/src/dist/images/tag/hope.gif" alt=""/>
            </div>
            <div class="scan-qrcode-text">
                <img src="/src/dist/images/text_3.png" alt=""/>
            </div>
            <div class="qrcode">
                <img src="/src/dist/images/Fendi-H5-qrcode.gif" alt=""/>
            </div>
            <div class="tips">
                <img src="/src/dist/images/text_2.png" alt=""/>
            </div>
        </div>
        <!-- set opacity to 0 for save img-->
        <div class="save-img">
            <img src="/src/dist/images/save-file.jpg" alt=""/>
        </div>
    </div>
</div>
</body>
</html>

